{% extends 'layout.html' %}
{% block title %} Salon Profil Sayfası {% endblock %}
{% block body %}
<div class="hero-head">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
         </ul>
    </div>
  </nav>
  <nav class="navbar">
    {% if messages %}
     <div class="notification is-danger">
         {{ messages[0] }}
     </div>
     {% endif %}
 
         <div class="container">
 
             <div id="navbarMenuHeroA" class="navbar-menu">
                 <div class="navbar-end">
                     <a href="{{ url_for('uyeprofil') }}" class="navbar-item">
                         Ana Sayfa
                     </a>
                 </div>
             </div>
         </div>
     </nav>
</div>
<div class="row">
  <div class="col-md-4">
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</div>
<div class="row">
  <div class="col-md-8" title="Ödünç Alınan Kitaplar">
    <caption>Ödünç Alınan Kitaplar</caption>
    <table id = "example" class="table table-striped table-bordered" style="width:100%">
      <thead>
      <tr>
        <td>Kitap Adı</td>
        <td>Kitap Kopya Numarası</td>
        <td>Teslim Alma Tarihi</td>
        <td>Teslim Tarihi</td>
      </tr>
      </thead>
      <tbody>
      {% for row in kitaplar %}
      <tr>
        <td>{{row.kitapadi}}</td>
        <td>{{row.kopyakitapno}}</td>
        <td>{{row.teslimalmatarihi}}</td>
        <td>{{row.teslimtarihi}}</td>

         <td width="130">
          <a href="/teslimver/{{pk}}/{{row.kitapno}}/{{row.kopyakitapno}}" class="btn btn-secondary btn-sm">Teslim Ver</a>
          </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}