{% extends 'layout.html' %}
{% block title %} Üye Profil Sayfası {% endblock %}
{% block body %}
<div class="hero-head">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
         </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col-md-4">
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</div>
<div class="row">
  <div class="col-md-8" title="Kitaplar">
    <caption>Uye Bilgisi</caption>
    <table id = "example" class="table table-striped table-bordered" style="width:100%">
      <thead>
      <tr>
        <td>Uye Adı</td>
        <td>Uye Soyadı</td>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{kullanıcı.uyeadi}}</td>
        <td>{{kullanıcı.uyesoyadi}}</td>
        <td width="130">
          <a href="/kitap/{{kullanıcı.uyeno}}" class="btn btn-secondary btn-sm">Kitaplari Göster</a>
        </td>
        <td width="130">
          <a href="/oduncalinanlar/{{kullanıcı.uyeno}}" class="btn btn-secondary btn-sm">Ödünç Alınanları Göster</a>
        </td>
        <td width="130">
        <form action="/cezaalinanlar/{{kullanıcı.uyeno}}" method="POST">
        <button type="submit" class="btn btn-secondary btn-sm">
            Ceza Göster
        </button>

      </form>
</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}